@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Order Number : @Model <br /> </br> 
    </div>
    <div class="col-12 text-center">
        Thank you
    </div>
</div>
